<div *ngIf="apiError" class="error-message">{{ apiError }}</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>From Amount</mat-label>
    <input
      matInput
      [(ngModel)]="fromAmount"
      (input)="onFromAmountChange()"
      type="number"
      min="0"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>From Currency</mat-label>
    <mat-select
      [(value)]="fromCurrency"
      (selectionChange)="onFromCurrencyChange()"
    >
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <span>=</span>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>To Amount</mat-label>
    <input
      matInput
      [(ngModel)]="toAmount"
      (input)="onToAmountChange()"
      type="number"
      min="0"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>To Currency</mat-label>
    <mat-select [(value)]="toCurrency" (selectionChange)="onToCurrencyChange()">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
